.addPost {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  margin: 1.5rem;
  margin-bottom: 2rem;
  padding: 10px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  animation: popup 0.25s;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10;
  max-height: 90vh;
}
.addPost::-webkit-scrollbar {
  width: 0px;
}
.addPost::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 10px 10px 2px rgb(88, 83, 83);
}
.disableButton {
  width: 80%;
  padding: 8px 0px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  background-color: blanchedalmond;
  color: gray;
  cursor: pointer;
}

@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.7);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.addPost__cancelModal {
  margin-left: 1rem;
}
.addPost__cancelModal:hover {
  cursor: pointer;
}

.addPost__textarea {
  max-height: 144px;
  flex: 1;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.1667;
  font-weight: 400;
  margin-bottom: 10px;
  resize: none;
  padding: 20px;
  margin-top: 4px;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.addPost__textarea::-webkit-scrollbar {
  width: 6px;
}
.addPost__textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 10px 10px 2px rgb(88, 83, 83);
}
.addPost__textarea:focus {
  outline: none;
}
.addPost__textareaContainer {
  display: flex;
  padding: 0 10px;
  animation: openRecipeModal 0.3s ease-in-out;
}
.addPost__selectorsContainer {
  width: 100%;
  background-color: #dbdbdb;
  animation: openRecipeModal 0.3s ease-in-out;
}
@keyframes openRecipeModal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.addPost__mySlider {
  max-width: 90%;
  width: 80%;
  margin: 0 auto;
}
.addPost__mySelector {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.addPost__mySelector > p {
  font-weight: 600;
  font-style: 0.9375rem;
}
.addPost__bottomPart {
  display: flex;
  flex-direction: column;
}
.addPost__bottomPartAddoptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.addPost__bottomPartAddoptions > p {
  margin: 0px 0px 0px 5px;
  font-size: 0.9375rem;
  line-height: 1.3333;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 1rem;
}
.addPost__addMediaContainer {
  max-width: 140px;
  display: flex;
  justify-content: space-between;
}
.addPost__addVideoContainer {
  color: purple;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.addPost__addVideoContainer:hover {
  cursor: pointer;
  background-color: #eaecee;
}
.addPost__addIngredientContainer {
  color: purple;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.addPost__addIngredientContainer:hover {
  cursor: pointer;
  background-color: #eaecee;
}
.addPost__ingredientsIconContainer {
  width: 24px;
  height: 24;
}
.addPost__ingredientsIcon {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.addPost__addVideoInput {
  display: none;
}
.addPost__addMediaLabel:hover {
  cursor: pointer;
}
.addPost__addImageContainer {
  color: #27ae60;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.addPost__addImageContainer:hover {
  cursor: pointer;
  background-color: #eaecee;
}

.addPost__bottomPartAddButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 40px;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.addPost__postbutton {
  width: 80%;
  padding: 8px 0px;
  background-color: #007aff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}
.addPost__postbutton:hover {
  cursor: pointer;
  background-color: #e87c00;
}
.addPost__postbutton:focus {
  outline: none;
}
.addPost__filePreivew {
  display: flex;
  flex-wrap: wrap;
}
.addPost__recipeImageContainer {
  width: 150px;
  height: 150px;
}
.addPost__recipeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.addPost__filePreviewContainer {
  padding: 0px 16px;
  padding-bottom: 8px;
  position: relative;
}
.addPost__cancelOptionContainer {
  position: absolute;
  z-index: 100;
  right: 18px;
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.addPost__cancelOption {
  width: 100%;
  height: 100%;
  background-color: #dbdbdb;
  border-radius: 100%;
  padding: 3px;
  object-fit: cover;
}
.addPost__cancelOption:hover {
  cursor: pointer;
}
.addPost__textEditor {
  max-height: 144px;
  flex: 1;
  word-break: break-all;
  margin-bottom: 3rem;
  margin-top: 4px;
}
