.productsContainer {
  flex: 0.99;
  flex-direction: column;
  max-height: 100vh;
  overflow: scroll;
}
.productsContainer::-webkit-scrollbar {
  width: 4px;
}
.productsContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 10px 10px 2px rgb(88, 83, 83);
}
.sectionTitle {
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 4rem;
  font-size: 36px;
  color: #007aff;
}
